[2014-02-23 21:12] srstsavage opened #1 "erddap checks for erddapContentDirectory environment variable, error message says erddapContent"
Currently there's a mismatch between the erddapContentDirectory environment variable checked and the name in the error message (erddapContent). Using a string constant for the name in both places would prevent inconsistencies.

https://github.com/BobSimons/erddap/blob/master/WEB-INF/classes/gov/noaa/pfel/erddap/util/EDStatic.java#L1095

[2014-02-24 22:30] #1 closed, assigned to nobody

[2014-09-22 18:39] rsignell-usgs opened #2 "Link types in ERDDAP iso metadata"
In this ncISO issue: https://github.com/Unidata/thredds/issues/75 we realized that we needed to get NcISO to specify `gmd:protocol` in the ISO metadata so that CKAN/pyCSW would return the right link-types when queried using CSW.

@pacioos or @BobSimons, do we need to do the same thing with ERDDAP to get it to write out `gmd:protocol` for OpenDAP, ERDDAP, WCS, etc links so that ISO produced by ERDD

[2015-01-15 18:01] rsignell-usgs commented on #2
Fixed by https://github.com/BobSimons/erddap/releases/tag/v1.56

[2015-01-15 18:01] #2 closed

[2017-01-28 12:50] rsignell-usgs opened #4 "Use of cdm_data_type"
If  `cdm_data_type` is a requirement for ERDDAP, can we get rid of it in favor of `featureType`?

We have been writing `featureType` attributes into our NetCDF files [following this guidance](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#featureType) for CF-1.6 Discrete Sampling Geometry (DSG) files.

So for time series data, for example, we specify `fea

[2017-01-28 15:59] BobSimons commented on #4
Yes, John Maurer and Luke Campbell brought this up a few weeks ago. It is
already on the To Do list.
I will make it so that ERDDAP relies on featureType the way CF DSG
intended.

I agree that cdm_data_type should be deprecated because it was (partly,
incompletely) superseded by featureType.
ERDDAP used cdm_data_type before DSG and featureType existed. When DSG was
being developed, I assumed CF/ACD

[2017-01-28 17:57] lesserwhirls commented on #4
@rsignell-usgs - the description by @BobSimons is correct. There are some cases where data were written following guidelines that were `netcdf-java` specific (mostly pre-CF DSG), and the use of `cdm_data_type` would still be needed. However, if you are following the CF DSGs, then you do not need it (`featureType` would be used if both are present).

[2017-01-28 18:22] BobSimons commented on #4
Sean, thanks for your comments.
Since we have you (a representative of Unidata and thus the CDM) involved,
let me say:
This situation is a mess.
featureType is good for CF DSG, but not for other CDM types like Grid or
Swath.
cdm_data_type has Grid and Swath but an out-of-date and incomplete list of
terms for the DSG's.
So is the advice that we mostly dump cdm_data_type and be left without a
way (a

[2017-01-28 18:28] shane-axiom commented on #4
This discussion of `cdm_data_type` on the THREDDS repo may or may not be useful here.

https://github.com/Unidata/thredds/issues/72

[2017-01-28 18:42] rsignell-usgs commented on #4
@shane-axiom , LOL, thanks for jogging my memory.  It all came flooding back....

[2017-01-28 18:49] BobSimons commented on #4
I should have said:
This situation is a mess (and unfortunately I've done as much or more than
anyone to make it a mess).

On Sat, Jan 28, 2017 at 10:22 AM, Bob Simons - NOAA Federal <
bob.simons@noaa.gov> wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (New!)
Monterey, CA 93940               (N

[2017-02-16 20:01] rsignell-usgs opened #6 "Support for CF-1.6 DSG TimeSeriesProfile in Multidimensional Form?"
I'm trying to use `EDDTableFromNcCFFiles` to read this `featureType=timeSeriesProfile` data (ADCP data):
http://gamone.whoi.edu/thredds/catalog/sand/usgs/users/rsignell/data/cmg/stellwagen/CF-1.6/WFAL/catalog.html?dataset=sand/usgs/users/rsignell/data/cmg/stellwagen/CF-1.6/WFAL/8591wh-a.nc

(The direct link to download as [netcdf file](http://gamone.whoi.edu/thredds/fileServer/sand/usgs/users/rsig

[2017-02-16 20:31] BobSimons commented on #6
Note that CF DSG is deceptively complex. The standard talks about 5 basic
file structures for the various featureTypes, but then has 1 sentence
asides that allow a huge number of exceptions to the basics (e.g.,
different dimension order), so there are 100's of possible formats and
people keep thinking of more ways (ways I never thought of) to subvert the
"simple" intentions of CF DSG.

1) For CF D

[2017-02-16 20:43] rsignell-usgs commented on #6
@BobSimons , thanks, this is very informative.    I'll definitely try `EDDTableFromMultidimNcFiles`.

Just a few clarifications about the dataset we are working with here:
* Since it's ADCP data, it *is* nearly completely orthogonal (there are always the same number of bins in the vertical and in time filled with data).
* We do have a variable with `cf_role=timeseries_id`, we just don't *also* hav

[2017-02-16 20:47] rsignell-usgs commented on #6
FYI, I looked around to see what other people have done with ADCP data in ERDDAP and discovered that Rutgers represents theirs as `griddap`, not `tabledap`: http://www.myroms.org:8080/erddap/griddap/PIONEER_ADCP_RECOVERED_CP02PMCI_R00001.html

And PACIOOS represents their ADCP data as `tabledap`, but uses `cdm_data_type=Profile`:
http://oos.soest.hawaii.edu/erddap/tabledap/aco_adcp_vel.html
even t

[2017-02-16 20:48] rsignell-usgs commented on #6
@kwilcox, @pacioos, just bringing you in there, FYI....

[2017-02-16 22:45] BobSimons commented on #6
1) Yes, there are datasets, notably ADCP datasets, that cleanly fit into
ERDDAP as either griddap or as tabledap datasets. Griddap and tabledap then
become different representations, just as a given request for data can be
represented differently in different file types. There are
benefits/advantages and disadvantages to different representations for
different use cases. And ERDDAP has EDDGridFrom

[2017-02-18 12:23] rsignell-usgs commented on #6
Okay, I got my CF-1.6, DSG `featureType=timeSeriesProfile` , multidimensional (not ragged) ADCP data going by:
* adding a `int32` variable `profile_index(time)` with `cf_role="profile_id"` and values of `range(len(time))` to the netcdf file (on [THREDDS here](http://gamone.whoi.edu/thredds/catalog/sand/usgs/users/rsignell/data/cmg/testing/catalog.html?dataset=sand/usgs/users/rsignell/data/cmg/test

[2017-02-18 12:23] rsignell-usgs commented on #6
Thanks for all the help Bob!

[2017-02-18 12:23] #6 closed

[2017-02-19 17:38] rsignell-usgs commented on #4
Okay, I understand this now, so closing.

[2017-02-19 17:38] #4 closed

[2017-03-11 16:19] Sammers21 opened #7 "Serving NetCDF files through WCS protocol."
Hello Bob.

I have tried to access my NetCDF files through WCS and failed. Can you help me?

First of all i have an .nc file which you can download via following link:

ftp://ftp.cdc.noaa.gov/Datasets/ncep.reanalysis2/surface/mslp.1979.nc

Following the guides i've filled setup.xml file and using GenerateDatasetsXml tool i've generated body of dataset.xml file.

So, server have been set-uped succe

[2017-03-11 16:33] BobSimons commented on #7
Thanks for using ERDDAP. You have successfully gotten ERDDAP up and running.

However the dataset you tried to create in ERDDAP isn't loading. Please use
the DasDds tool (described right below the GenerateDatasetsXml description)
or look in the ERDDAP log.txt file for the error message which will tell
you why the dataset isn't loading. GenerateDatasetsXml generates a good
first pass at the xml you

[2017-03-11 18:35] Sammers21 commented on #7
I've regenerated dataset.xml with GenerateDatasetsXml (because DasDds required of some existed dataset.xml).

Here you can see log of generation with GenerateDatasetsXml . it went well :

http://pastebin.com/9t2rtbJu

On the next step i use DasDds with id of dataset (from the previous step). Log of output here :

http://pastebin.com/NmtBkYVm

As you can see there is no errors appears in process of

[2017-03-11 21:47] BobSimons commented on #7
You are correct:
* GenerateDatasetsXml ran without error
* DadDds ran without error

The log.txt from the restart of ERDDAP shows that the dataset loaded
correctly.
(Thanks for providing all that info.)

And just now I went to
http://40.68.46.120:8080/erddap/info/index.html
And I see your dataset.
So you succeeded!  Congratulations!

Perhaps the reason you didn't see the dataset is:
ERDDAP starts

[2017-03-12 06:45] Sammers21 commented on #7
Okay, dataset loaded correctly. I see, that i can drag the slider and chose any subset of this data i want.

http://40.68.46.120:8080/erddap/griddap/erddap_dd09_b52e_bc1c.html

But, the only service through i can do it is griddap. Right?
How do i can access this data with different types of service like WMS or WCS?

[2017-03-12 15:41] BobSimons commented on #7
If you use any of the search methods on the right side of the ERDDAP home
page, including "View a List of All Datasets", you will get to a list of
datasets.
For each dataset, you can see the access methods and other options shown as
links.
Just to be clear, griddap is a compatible and compliant with OPeNDAP, so it
is also a standard service.
I see that WMS is also listed for your dataset.

I hope

[2017-03-13 19:16] Sammers21 commented on #7
Thank you for being patient. You save my day.

[2017-03-13 19:16] #7 closed

[2017-03-13 21:22] Sammers21 opened #8 "problems with WMS service"
Hello Bob

As you can see on this page

http://40.68.46.120:8080/erddap/wms/erddap_dd09_b52e_bc1c/index.html

says 'To get an image file with a map with a transparent background, use

http://40.68.46.120:8080/erddap/wms/jplMURSST41/request?service=WMS&version=1.3.0&request=GetMap&bbox=-179.99,-89.99,180.0,89.99&crs=EPSG:4326&width=360&height=180&bgcolor=0x808080&layers=jplMURSST41:analysed_sst&sty

[2017-03-13 21:35] BobSimons commented on #8
Many of the examples throughout your ERDDAP are based on a bunch of
settings in your setup.xml.
The griddap example settings start with <EDDGridIdExample>.
The tabledap example settings start with <EDDTableIdExample>.

You don't have the datasets referenced by the default <EDDGridIdExample>
and <EDDTableIdExample> in your ERDDAP.
The easiest way to fix this is to include those datasets in your ERD

[2017-03-17 10:16] Sammers21 commented on #8
Thank you. That helps me

[2017-03-17 10:16] #8 closed

[2017-06-06 14:28] kwilcox opened #10 "Floating point rounding error for doubles on some output formats"
It seems that some of the ERDDAP output formats are converting doubles (float64) to floats (float32) and running into floating point representation errors (`.asc`, `.csv`, `.geoJSON`, `.htmlTable`, `.kml`) while others (`.nc`, `.ncCF`) are retaining the original double type through to the output.

This seems like something that someone would have run into before! Is this a known issue?

[datasets.

[2017-06-06 18:31] BobSimons commented on #10
That should not happen. Can you please send me a sample request and say
what is wrong with the response?

On Tuesday, June 6, 2017, Kyle Wilcox <notifications@github.com> wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (New!)
Monterey, CA 93940               (New!)
Phone: (831)333-9878

[2017-06-06 18:33] BobSimons commented on #10
I should have said, I am on vacation so I'll investigate when I return in
two weeks but please send the details.

On Tuesday, June 6, 2017, Kyle Wilcox <notifications@github.com> wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (New!)
Monterey, CA 93940               (New!)
Phone: (831)333-9878

[2017-06-06 18:59] kwilcox commented on #10
I posted links to a datasets.xml file and the source netCDF file above. More links below:

*  [Dataset in ERDDAP](http://erddap.aoos.org/erddap/tabledap/mares_2015_dive_eb03-057-15.html)
*  [.htmlTable output with incorrect floating points](http://erddap.aoos.org/erddap/tabledap/mares_2015_dive_eb03-057-15.htmlTable?latitude%2Clongitude&time%3E=2016-02-15T00%3A00%3A00Z&time%3C=2016-02-22T04%3A55%3

[2017-06-19 17:06] BobSimons commented on #10
As I'm sure you know, floating point numbers are stored as binary values in
computers and when stored as binary values in files, so values with
fractional digits only rarely have exact representations of their base 10
representations.
And in different places, in different software libraries, those binary
values are converted in slightly different ways to base 10 representations.

The 4th value in

[2017-06-19 18:14] BobSimons commented on #10
Ah. I didn't respond to this aspect of your bug report.

I don't think that ERDDAP is converting doubles to floats anywhere in the
code.
ERDDAP, like most Java programs, is very data type aware.
(The exception would be if an ERDDAP administrator explicitly said to treat
a given double variable as a float variable in some dataset.)
If a float is converted directly to a double, the number is usually

[2017-06-19 18:30] BobSimons commented on #10
Sorry, I keep thinking of more to say.

Note that all of the file types that you say have representation errors
(.asc, .csv, .geoJSON, .htmlTable, .kml) are file types where the numbers
are written as base 10 numbers. For the file types that you say are
correct, the numbers are still in their binary representation -- and
apparently the code you are using to represent those numbers as base 10
numbe

[2017-07-13 16:44] Akshay-Hegde opened #11 "Make a graph : Is there any utility to allow user to change X axis min and max range too ?"
Hi! Bobs,

First I appreciate your efforts towards the development of ERDDAP, wonderful Rest based, dataserver with awesome features, I have one small query, as I am new to ERDDAP, would  like to make sure from you, is there any way to allow user to change `X` axis `min` and `max` range like `Y` axis, for example as you can see here, user can change `Y` axis `min` and `max`, but can't change inter

[2017-07-13 17:02] BobSimons commented on #11
There is a way for you to specify settings for the x axis, but not on the
.graph web page.
The .graph web page only gives you access to some of the options that are
allowed by a RESTful request for an image.
To see the full list of options for a RESTful request for an image from a
gridded dataset like this one, see
https://coastwatch.pfeg.noaa.gov/erddap/griddap/documentation.html#GraphicsCommands

[2017-07-13 19:13] Akshay-Hegde commented on #11
Thanks a lot, for the clarification, now I understood the reason.

[2017-12-03 18:49] rsignell-usgs commented on #4
I said I understood this back in February, but looking at this again, I'm not sure.

Is this a reasonable synopsis of the situation?
* `cdm_data_type` was developed pre CF-DSG `featureType` and will not further developed by Unidata
* `netcdf-java` will favor `featureType` over `cdm_data_type` if both are found.
* ERDDAP uses `cdm_data_type` instead of `featureType`, but allows `cdm_data_type` to h

[2017-12-03 19:01] rsignell-usgs opened #14 "`datasetID` or `Dataset ID`"
If you query ERDDAP using `allDatasets`,  dataset ID is returned as `datasetID`.

If you query ERDDAP using advanced search , dataset ID is returned as `Dataset ID`.

Is there a reason for this?

It's not a big deal, but it messed me up for a bit when writing my little ERDDAP time series explorer.

To pull the lon/lat values from the allDatasets table that matched the datasets returned from advanc

[2017-12-03 19:12] rsignell-usgs opened #15 "Could Advanced Search use time values like "now-7days"?"
This messed me up too for a while while working on the ERDDAP time series explorer.

I thought that Advanced Search, like tabledap data requests, could use time values like "now-7days" for time values like "Minimum Time" on pages like:
https://coastwatch.pfeg.noaa.gov/erddap/search/advanced.html
although I see that the pop up help does not display this as an option.

It's additionally confusing be

[2017-12-05 16:21] BobSimons commented on #14
In ERDDAP, for all of the actual data requests, the data variable (column)
names will be exactly the same for all types of response file types. There
can be some differences in the way the data is presented: notably, in the
.htmlTable response, a datum that is a URL will be presented as an <a href>
tag and possibly with a related viewer (e.g., for audio files).

In ERDDAP, for other requests (nota

[2017-12-05 16:43] BobSimons commented on #15
Regarding how errors are dealt with:
* There is a guideline often used in computer science: be strict in what
you write out, be lenient in what you accept.
https://en.wikipedia.org/wiki/Robustness_principle
* Some parts of ERDDAP (generally the data requests) are strict in both
what they accept and what write. Error messages are shown on some web
pages. HTTP errors are thrown in some cases.
* Some

[2017-12-05 17:33] rsignell-usgs commented on #15
@BobSimons , yes this sounds reasonable.   Thanks for putting this on the enhancement list!

Is it useful to keep this open until it's added, or would you prefer I close this?

[2017-12-05 17:35] rsignell-usgs commented on #14
@BobSimons this all sounds reasonable, but I don't know if this explains why if you query ERDDAP using allDatasets, you get `datasetID`, and if you query ERDDAP using advanced search , you get `Dataset ID`.  Both are returned as csv.

[2017-12-05 17:35] BobSimons commented on #15
You can close it.

On Tue, Dec 5, 2017 at 9:33 AM, Rich Signell <notifications@github.com>
wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (New!)
Monterey, CA 93940               (New!)
Phone: (831)333-9878            (New!)
Fax:   (831)648-8440
Email: bob.simons@noaa.gov

The contents of this m

[2017-12-05 17:37] #15 closed

[2017-12-05 17:40] BobSimons commented on #14
allDatasets is a dataset (in the DAP sense). It behaves in the strict way
that all DAP requests respond.

Advanced search is not a dataset and is not a query of a dataset.

On Tue, Dec 5, 2017 at 9:35 AM, Rich Signell <notifications@github.com>
wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (Ne

[2017-12-05 17:45] rsignell-usgs commented on #14
Ah, okay.  Now I get it.

[2017-12-05 17:45] #14 closed

[2017-12-05 18:40] BobSimons commented on #14
I should have also said:

The goals of searching allDatasets and using Advanced Search are basically
the same: finding datasets which meet certain criteria.
But the way that they work, what you can do with them, and the nature of
the results table (e.g., column names) is very different.

It is unfortunate that Advanced Search has "Dataset ID" and allDatasets has
"datasetID".
allDatasets is stricte

[2017-12-05 19:01] rsignell-usgs commented on #14
I was actually expecting you to say this: better to have a minor imperfection than break people's code.

[2018-01-08 12:30] fullergalway opened #16 "Change mime type for jsonp"
Chrome browser gives an error for the mime type returned for a jsonp request.

(MIME type should be 'application/javascript' if the json is requested and .jsonp flag is set)

https://stackoverflow.com/questions/477816/what-is-the-correct-json-content-type

[2018-01-09 19:09] BobSimons commented on #16
That sounds like a good idea.
I will try to make the change in the version of ERDDAP that I am working on.

[2018-01-24 17:54] SoftwareMonk opened #17 "No download for 1.82"
Not sure if this is intended or not but there is no download/release for 1.82 despite there being a change log entry for it on https://coastwatch.pfeg.noaa.gov/erddap/index.html

[2018-01-24 18:13] BobSimons commented on #17
You and others are very attentive.   :-)

Release Candidate:
Yes, I'm testing a release candidate on my main server since it allows me to test ERDDAP in production with 1000+ live datasets in a way that is hard/impossible to do otherwise. As is sometimes the case, I am making a few changes and will test the next release candidate this way, too. Eventually (very soon), I'll do the full public relea

[2018-01-24 18:16] SoftwareMonk commented on #17
Awesome, thanks for the update Bob!

[2018-01-30 19:35] BobSimons commented on #16
That change is now available in ERDDAP v1.82.
Thanks again for the suggestion.

[2018-01-30 19:35] #16 closed

[2018-01-30 19:35] BobSimons commented on #17
ERDDAP v1.82 is now available via GitHub.

[2018-01-30 19:35] #17 closed

[2018-01-30 19:36] #11 closed

[2018-01-30 19:38] #10 closed

[2018-02-08 17:35] fullergalway opened #18 "Meta enhancement for search engine indexing"
Consider adding rel="next" and rel="prev" links on the index page
[https://support.google.com/webmasters/answer/1663744?hl=en&ref_topic=4617741](https://support.google.com/webmasters/answer/1663744?hl=en&ref_topic=4617741)

for example in the head of the page here:
[http://coastwatch.pfeg.noaa.gov/erddap/info/index.html?page=1&itemsPerPage=3](http://coastwatch.pfeg.noaa.gov/erddap/info/index.html?

[2018-02-26 20:14] BobSimons commented on #18
This is an excellent idea. I'm surprised rel="next" and "prev" weren't already used.
I have made the change. It will be in the next release: v1.84.
Thank you very much for suggesting this.

[2018-03-02 16:42] fullergalway opened #19 "Missing all data when one out-of-range extent"
Erddap can produce some very interesting bathymetry images, like this:

[transparentPng?elev%5B(**20.12**):(20.143045462072454)%5D%5B(145.07385854272752):(145.09996556940996)%5D&.draw=surface...](http://oos.soest.hawaii.edu/erddap/griddap/pibhmc_bathy_10m_supply.transparentPng?elev%5B(20.12):(20.143045462072454)%5D%5B(145.07385854272752):(145.09996556940996)%5D&.draw=surface&.vars=longitude%7Clati

[2018-03-05 16:01] BobSimons commented on #19
It is a good idea.
For image file requests to gridded datasets, I will change the ERDDAP rules related to out-of-bounds requests.
I will try to get this into the next release.

[2018-09-04 17:49] jibeizhao opened #20 "File descriptor leak"
When a user queries for image data in ERDDAP, the file descriptor is left open indefinitely until max limit is reached. File is deleted, but handler is left open.

[2018-09-04 17:55] jibeizhao commented on #20
Noticed this while we were querying geotiff files, the server would crash after querying for too many geotiffs.
I checked the codes, it seems the saveAsGeotiff function did close the writer, didn't dig deeper.
Could you have a look at this?

Thx

[2018-09-04 18:09] BobSimons commented on #20
Thanks for letting me know. I will investigate.

[2019-02-01 07:49] michaelsmit opened #23 "Compile issues introduced in 1.82"
The change in v1.82 to use String2.directReadFrom88591File() instead of creating a String from a ByteArray in the testing code for datasets introduced many compilation errors.

For example, line 516 in EDDTableFromPostDatabase.java  (erddap/WEB-INF/classes/gov/noaa/pfel/erddap/dataset/EDDTableFromPostDatabase.java) changed:

before:
results = new String((new ByteArray(EDStatic.fullTestCacheDirecto

[2019-02-01 16:32] BobSimons commented on #23
Sorry about that. This has come up before. The underlying problem is: there are classes in the distribution that are not active (for various reasons). As mentioned in the Programmer's Guide ([https://coastwatch.pfeg.noaa.gov/erddap/download/setup.html#programmersGuide]()), when I compile ERDDAP, I delete all .class files then compile TestAll.java (with javacs, which compiles all dependencies). The

[2019-02-07 20:02] bbest opened #24 "include web Mercator projection (EPSG:3857) in ERDDAP WMS for using easy leaflet maps with nice basemaps"
CC: @ehazen, @7yl4r,

Hi @BobSimons,

Thank you, thank you for a great and useful product of ERDDAP focused on the many ways to slice, dice and represent data for a plethora of analysis and visualization.

One of the more useful and easy representations of data is as a Web Map Service (WMS) to easily drop into a "slippy" online map using JavaScript libraries like [leaflet](http://rstudio.github.io

[2019-02-07 21:31] BobSimons commented on #24
Yes. "Add support for Web Mercator projection" is already on the To Do list.

Because of the nature of the graphics library that ERDDAP uses to generate maps (which was selected long ago, before most of the current libraries existed), it is not possible to simply add a new projection. So it is a more difficult project. Similarly, it would/will not be easy to switch to another graphing library. The

[2019-02-12 20:40] bbest commented on #24
Ok, glad to hear Web Mercator projection for slippy maps is on your TODO. Too bad it's not an easy fix. I'm not a Java programmer, but please let me know if I can help.

Seems like a common approach for serving WMS image and other OGC services (WCS raster, WFS vector) is to setup a GeoServer alongside ERDDAP for the same data sources. For instance, I see this with these projects:

* [PacIOOS](http

[2019-02-12 20:55] kwilcox commented on #24
@bbest I'm going to guess the dataset you are trying to access through ERDDAP's WMS is netCDF based, and the short answer is that netCDF and GeoServer don't play nicely together. There was some movement towards a GeoServer netCDF backend at some point.. maybe 8 years ago... but I believe progress stalled and was never completed. This could use a little bit of research (let me know if you find anyt

[2019-02-13 00:00] srstclair commented on #24
IIRC when I looked at the GeoServer netCDF reader a few years ago we decided against using it because it didn't handle a lot of real world complexities (e.g. anti-meridian wrapping) and didn't include support for community conventions like CF because it didn't make use of Unidata's netcdf-java library. That being said, if your use case isn't complex you might take a look and see if it works for yo

[2019-02-13 16:52] bbest commented on #24
Thank you very much @kwilcox and @srstclair for weighing in on this given all your experience. I'm generally interested in quickly visualizing remotely sensed variables like SST and chlorophyll globally (ie WMS), as well as summarizing these data over time by arbitrary polygons (ie ERDDAP slicing/fetching). For example from the
example I previously shared [WMS Testing for Fixing Explorer Environme

[2019-02-18 20:23] michaelsmit commented on #23
Thanks for the prompt response - I thought that might be the case, as some of the files were flagged in comments as being defunct, but I grew concerned when some were not.

My build script follows the documentation; I suspect most people (myself included) encountering the issue are using other tools (IDEs, monitoring/logging code, etc.) that get crotchety when they encounter syntax / compile error

[2019-02-18 20:23] #23 closed

[2019-03-07 20:02] mwengren commented on #24
@kwilcox @srstclair @bbest  I dug up some old links on GeoServer and netCDF support I had been forwarded previously.  NOAA/NWS had funded recently (< 8 yrs ago) some work to allow GeoServer to support a particular model dataset (Rapid Refresh: RAP) in GRIB2 .  Info here:

https://github.com/bencaradocdavies/geoserver/wiki/RAP-Native-Grid and
https://github.com/bencaradocdavies/geoserver/wiki/RAP-N

[2019-03-07 21:07] bencaradocdavies commented on #24
@mwengren @kwilcox @srstclair @bbest the current [GeoServer NetCDF ("netcdf") plugin](https://docs.geoserver.org/stable/en/user/extensions/netcdf/netcdf.html) is built on the Unidata NetCDF-Java library and is well supported. I added a [NetCDF example in the GeoServer Quickstart](https://live.osgeo.org/en/quickstart/geoserver_quickstart.html#netcdf) in the [OSGeoLive image](https://live.osgeo.org/

[2019-03-07 23:13] BobSimons commented on #24
Connecting ERDDAP and GeoServer has been on my list of things to To Do (or at least explore) for years. If any of you want to pursue it, please do. If, as it sounds, there is a netcdf-java to GeoServer connection, then it seems likely that there would be a way to take all the information that an ERDDAP has about its datasets and automatically make corresponding datasets in GeoServer (at least for

[2019-03-07 23:46] bencaradocdavies commented on #24
@BobSimons I suspect that you are right: as far as I know, GeoServer supports gridded NetCDF data sources ("coverages") but not NetCDF vector data sources (equivalent to ERDDAP tabular?). The GeoServer devel list would be a great place to start. I am no longer active in the GeoServer project but there are several active developers supporting NetCDF data sources. The NetCDF libraries are there; sup

[2019-03-14 15:13] mwengren commented on #24
@bencaradocdavies thanks for the update!

That would be great if an ERDDAP GeoTools DataStore implementation could be built, at least for gridded datasets.  I like the idea of a GSoC project as well.

@BobSimons if you wanted to suggest that, you could go through the ESIP GSoC repository to suggest it, see: https://github.com/ESIPFed/gsoc/issues.  I don't know if they are still accepting new proje

[2019-03-14 21:27] bencaradocdavies commented on #24
@mwengren the geotools-devel mailing list should be the first stop for anyone contemplating a new DataStore implementation because you can find other interested developers and mentors. The [GeoTools Developer Guide](http://docs.geotools.org/latest/developer/procedures/create.html) has more. It is straightforward to get permission to create a new unsupported module and the commit access to maintain

[2019-03-18 18:55] bbest commented on #24
Thank you all for weighing in on this issue around connecting GeoServer and ERDDAP. Perhaps I don't understand the suggestions for more direct integration between GeoServer and ERDDAP, but having a separate data catalog that describes the various representations and web services for a given dataset seems the way to go to me.

The logical choice for data catalog software is [CKAN](https://ckan.org/

[2019-03-18 19:15] BobSimons commented on #24
The system you propose may make sense for various reasons, but not for the
immediate need here and not for the other uses I had hoped for, which is to
allow ERDDAP to use the WMS/mapping/reprojection features of GeoServer to
make Web Mercator maps (and do lots of other things). For these needs and
for ease of setup, I think it would be great if an administrator could
install ERDDAP and GeoServer,

[2019-03-18 19:41] bbest commented on #24
Ah thank you @BobSimons for this extra insight. I will be developing a data management portal for IEA ecosystem status indicators, so will become more familiarized with ERDDAP configuration. In the process I can chip away at sync'ing datasets between ERDDAP and GeoServer initially with some simple scripts and keep these considerations in mind for trying to generalize more broadly for a tighter int

[2019-03-18 20:03] 7yl4r commented on #24
Apologies for hijacking this thread with a tangent, but: are ERDDAP, CKAN, THREDDS, (others?) all providing a similar "middleman" functionality?

I have minimal exposure to CKAN and THREDDS and want to better understand the niche of each of these relative to ERDDAP.

[2019-03-18 20:06] mwengren commented on #24
@BobSimons @bbest I think both pursuits would be worthwhile.  I think @BobSimons is considering general purpose ERDDAP use, and I totally agree about the value of a GeoServer 'extension' point for ERDDAP (if that's an appropriate phrase).  I would love to see that happen.  @bbest it sounds like your goal is to develop a purpose-built application on both of those tools, as well as CKAN for the data

[2019-03-18 22:39] BobSimons commented on #24
I view them as significantly different. Each has its own niche that makes
each better for certain purposes.

THREDDS is a DAP+WMS+WCS data server (just for gridded data) that just
provides 1 catalog view: a hierarchy of terms, eventually terminating in
either data files or aggregated datasets at the leaves. THREDDS has its own
metadata system which is separate from the dataset's metadata. So if yo

[2019-03-19 17:08] 7yl4r commented on #24
Many thanks for the detailed response. Following this discussion has been a great help for me to better understand the relationships between these softwares.

[2019-08-29 16:10] adamml opened #25 "Use the canonical list of Erddap instances"
As discussed on the awesome-erddap repo - the canonical list is now here

https://github.com/IrishMarineInstitute/awesome-erddap/blob/master/erddaps.json

If you need a different format, let us know and we can build it into the issue opened on awesome-erddap.

[2020-01-10 12:05] Nilster opened #27 "baseUrl"
Hi,

Is there any way not to hardcode baseUrl in the setup file? As far as I can see, you have to specify baseUrl. I would like the request to continue with with the whatever url Tomcat is referencing to how can I achieve this?

[2020-01-10 13:07] Nilster commented on #27
Just discovered that setting the <baseUrl>/.</baseUrl>  tag gets around this issue. Sorry about the confusion.

[2020-01-10 13:07] #27 closed

[2020-01-10 16:20] BobSimons commented on #27
I don't understand. Can you please tell me more about /. and how it gets around this issue?
Thanks.

[2020-01-13 12:35] Nilster commented on #27
I am not exactly sure how it works inside the ERDDAP app but after playing around with the url paths this combination worked for me. [https://stackoverflow.com/questions/24028561/relative-path-in-html](url) prompted me to try out this combination.

[2020-01-24 14:17] MarcoAlbaETT commented on #24
Hi!
If you want to use EPSG:3857 and other projections, I've succesfully tested ncWMS (https://reading-escience-centre.github.io/ncwms/) as a WMS server to serve gridded data from ERDDAP server.
As an example, using the dataset "jplAmsreSstMon_LonPM180" and using the URL "https://coastwatch.pfeg.noaa.gov/erddap/griddap/jplAmsreSstMon_LonPM180" for configuring the ncWMS dataset the result are (just

[2020-01-24 16:32] bbest commented on #24
Awesome, thanks so much for sharing @MarcoAlbaETT! Look forward to giving [ncWMS](https://reading-escience-centre.github.io/ncwms/) a spin

[2020-05-15 12:08] shiuliu opened #28 "Unzip erddap code error"
erddap code downloaded successfully,but unzip error. help me .thank you!

[2020-05-15 14:32] BobSimons commented on #28
What file did you download?
From where did you download it?
What was the software you used to unzip the file?
What was the error message?

The most likely thing is that the file didn't download correctly. Please rename the file you downloaded and download the file from the source again.

[2020-05-16 04:18] shiuliu commented on #28
download incorrect，thank you

[2020-05-16 04:20] #28 closed

[2020-06-04 12:37] Nilster opened #29 "Network UNC Path"
Hi,

I have been trying to read files from a shared folder on the network. I have tried various ways for ERDDAP to recognise that network share.
eg.
`<fileDir>I:\</fileDir>`
`<fileDir>I:/\</fileDir>`
`<fileDir>//server_ip/shared_folder</fileDir>`
`<fileDir>////server_ip//shared_folder</fileDir>`

But I am still struggling to get ERDDAP to read that network share. Is it a known issue or am I missin

[2020-06-05 15:34] Nilster commented on #29
Thanks for the pointer, I will move my question there. Thanks.

[2020-06-05 15:34] #29 closed

[2020-09-17 09:01] fullergalway commented on #18
This is done. Thanks Bob! Marking as closed.

[2020-09-17 09:01] #18 closed

[2020-09-18 10:08] emmerbodc opened #31 "erddap graph feature plotting NaN points"
Hello,
At BODC we have loaded a discrete water samples dataset -
https://linkedsystems.uk/erddap/tabledap/samples_cobs_20200901.html

The original data is stored in BODC in a relational database so to pull it together we created a denormalized view so the data are sparse now.

We haven't assigned a fill value, leaving it at NaN as they don't exist in the relational database. However we noticed on

[2020-09-18 14:32] BobSimons commented on #31
Isn't the desired feature: &_varName_!=NaN (as you point out)?
It has the desired functionality and it uses the existing constraints system.

More features add to the complexity of the web page, the request, and the code. If the new feature isn't necessary because there is already a decent solution, I am reluctant to add the new feature.

It's true that it may not be obvious to an end user.

[2020-10-05 11:03] emmerbodc commented on #31
ok thanks.

[2020-10-05 11:03] #31 closed

[2020-10-05 11:14] emmerbodc opened #32 "EDDTableFromHttpGet graph error"
Hi Bob,

We are trying a new method for ingesting NRT data - https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#EDDTableFromHttpGet

We have loaded some data in ERDDAP but noticed that when we used the graph feature an error occurs and the dataset is subsequently dropped from ERDDAP.

We are not sure if we have a XML issue in our setup or if this is a bug?

Details below.
Thank

[2020-10-05 20:51] BobSimons commented on #32
Thanks for providing all the background information.
You are the first or one of the first users of the EDDTableFromHttpGet system, so it isn't too surprising there are some problems with it.
Yes, I see something is wrong  I will investigate, work to fix it, and get back to you.

In the meantime, as a workaround,
if all of the 'command' values are 0=add,
you can create a 2nd dataset with a dataset

[2020-10-06 10:38] emmerbodc commented on #32
Thanks for investigating this.

We'll look into this.

[2020-10-09 18:00] BobSimons commented on #32
I've made the fixes and a few related small changes.
The changes will be in the next release, hopefully very soon -- I'm just finishing up a few tests and documentation changes for this release (but I have a conference next week).
Thanks again for trying EDDTableFromHttpGet and reporting the problems.

[2020-10-13 10:19] emmerbodc commented on #32
Great thanks. We will let you know how we get on.

[2020-10-14 21:01] cyhsu opened #33 "ERDDAP TrajectoryProfile issue."
Question: In the DMAC meeting today, I addressed issues that are related to the Trajectory Profile dataset. One of the questions is the IOOS compliance checker - NCEI Trajectory Profile Orthogonal 2.0 is asking the Trajectory Profile netCDF file has set "cdm_data_type" = "Trajectory" and then set "featureType" = "trajectoryProfile," while in ERDDAP, it is saying "cdm_data_type" = "TrajectoryProfil

[2020-10-15 17:18] cyhsu commented on #33
Yes, I have addressed an issue to the IOOS compliance checker GitHub. Hoping they can solve the standards quickly.
Following is what the ERDDAP error message from D for if I use "TrajectoryProfile" at ERDDAP.

Once I feed the netCDF dataset to ERDDAP, I received an error from DasDds.out saying

`*** An error occurred while trying to load marion_R4_369a_9629_7ce5:
java.lang.RuntimeException: datase

[2020-10-16 17:14] BobSimons commented on #33
It is nice that the source file has cf_role=profile_id for the time variable, but if the datasets.xml chunk does not include the time variable, then ERDDAP will never see it.

I see that the dataset type that you selected is EDDTableFromNcFiles.
As the documentation says, for new datasets, please try EDDTableFromMultidimNcFiles instead.

If I use GenerateDatasetsXml with the sample file and seletc

[2020-10-16 22:35] cyhsu commented on #33
Thanks Bob,

I am also thinking of using **EDDTableFromMultidimNcFiles** instead of **EDDTableFromNcFiles** after checking the glider data from Glider DAC OPENDAP, too. After comparing the files, I realized the differences.

1. NCEI is using **cf_data_type = Trajectory,** while GDAC is using **TrajectoryProfile**
2. NCEI has 2-dimension in time variable, while GDAC has only one.
3. The variable of

[2020-10-16 22:35] cyhsu commented on #33
Thanks Bob,

I am also thinking of using **EDDTableFromMultidimNcFiles** instead of **EDDTableFromNcFiles** after checking the glider data from Glider DAC OPENDAP, too. After comparing the files, I realized the differences.

1. NCEI is using **cf_data_type = Trajectory,** while GDAC is using **TrajectoryProfile**
2. NCEI has 2-dimension in time variable, while GDAC has only one.
3. The variable of

[2020-10-16 22:35] #33 closed

[2020-11-09 16:08] BobSimons commented on #32
This has been fixed. The fix is available in the newly released ERDDAP v2.10.
Thanks again for reporting this.

[2021-02-01 23:28] BobSimons opened #36 "Add rsync-like support to ERDDAP's files system"
Description: ERDDAP lets users download the original source data files via a virtual file system, e.g.,
[https://coastwatch.pfeg.noaa.gov/erddap/files/](https://coastwatch.pfeg.noaa.gov/erddap/files/)
It would be nice if there were an easy and efficient way for users to maintain a local copy of a dataset's files.
Note that some datasets simply gain new files periodically (although for this dataset

[2021-02-01 23:59] BobSimons opened #37 "Add MQTT support to ERDDAP"
MQTT is a system for efficiently transmitting real time data to/from sensors.
[https://en.wikipedia.org/wiki/MQTT](https://en.wikipedia.org/wiki/MQTT)

1) Since ERDDAP has datasets with near real time data (e.g., in data files which change periodically), it would be nice to add an MQTT real-time data service to ERDDAP. This would allow suitable EDDTableFromFiles datasets to be made available as pu

[2021-02-02 00:22] abkfenris commented on #37
@mwengren is the ringleader of the Sensor Data Ingest project, and yes MQTT is going to be at the core of what we are scheming.

ERDDAP probably shouldn't try to integrate a broker, but it would be nice if it could support connecting to a variety of external ones (with various auth mechanisms).

One thing to ponder is how should ERDDAP template MQTT topics and messages, or if it will use a more fi

[2021-02-02 11:37] thogar-computer commented on #37
Morning @BobSimons,

This looks super interesting, can I ask if it’s possible that;

2. Make EDDTableFromHttpGet (which is the only type of dataset in ERDDAP that supports data ingest) into an MQTT subscriber. Then an EDDTableFromHttpGet dataset could connect to a sensor which is acting as MQTT publisher in order to gather data from the sensor.

Is split into two pieces, such that EDDTableFromHttp

[2021-02-02 16:21] BobSimons commented on #37
Most of EDDTableFromHttpGet's code deals with how to store the data sent to it (in different files based on administrator settings and the data itself (which sensor, what time)) and how to keep the internal database with information about each file up-to-date, so I thought it made sense to add optional MQTT system which simply feeds the incoming data into the existing data input system.

I think t

[2021-02-02 16:34] BobSimons commented on #37
@abkfenris, you asked about payload formats.  ERDDAP now uses JEXL, which can parse expressions or scripts. I think JEXL can be used to solve the problem.

So for MQTT data ingest with EDDTableFromHttpGet, it seems like a good idea to consider having the ERDDAP administrator specify a bit of JEXL code which would be responsible for converting the MQTT message (in whatever format it is in) into the

[2021-02-02 17:52] BobSimons opened #38 "EDDTableAggregateRows should support derived variables"
EDDTableFromFiles now supports derived variables
[https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#scriptSourceNames](https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#scriptSourceNames)
It would be nice if EDDTableAggregateRows also supported derived variables (and perhaps also <sourceName>global:_attName_ and <sourceName>variable:_varName:attName_ varia

[2021-02-02 18:02] BobSimons opened #39 "Add .ncoJsonHeader output option"
ERDDAP lets users specify the output file format. One of them is .ncoJson, which writes everything that would be in a .nc file (metadata and data) into a JSON format instead. It would be nice if there were an .ncoJsonHeader option which just contained the metadata, but no data. Many users just want the metadata, and many users want JSON, so this is a desirable feature.

Skills required: Java progr

[2021-02-02 18:30] BobSimons commented on #37
@thogar-computer  I hereby confirm that the CREAMT project is the first in the world to use EDDTableFromHttpGet. Congratulations!

[2021-02-02 18:57] BobSimons opened #40 "Validate/Optimize the nThreads system"
To fulfill a user request for data, EDDGridFromFiles and EDDTableFromFiles both often get data from multiple data files. Both now have a system (different for each) for using multiple threads to speed up this process. See
[https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#nThreads](https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#nThreads)

Unfortunately,

[2021-02-02 23:26] BobSimons opened #41 "make EDDGridLon0360"
There is already an EDDGridLonPM180 which converts any child EDDGrid dataset with longitude values which are (something like) 0 to 360 into a dataset with longitude values from (something like) -180 to 180. For this project, you would do the opposite: convert from -180...180 to 0...360.  See
[https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#EDDGridLonPM180](https://coastwatch

[2021-02-02 23:40] #32 closed

[2021-02-02 23:41] BobSimons commented on #32
This was fixed in ERDDAP v2.10.
Thanks again for reporting this.

[2021-02-02 23:47] BobSimons commented on #19
This would also make a pretty good Google Summer of Code project, so I have labeled it as such.

Skills required: Java programming

Difficulty: Medium. It will take some effort to figure out how the transparent png files are made and how to make this change.  Maybe 2 weeks (after you get a little familiar with ERDDAP).

Mentor: Bob Simons (main author of ERDDAP)

[2021-02-03 00:05] BobSimons opened #42 "Add connection to MapServer"
Make it so that ERDDAP can be a data source for MapServer (or GeoServer?) and thus use its WMS, WCS, etc services.
Make it so that suitable datasets in ERDDAP are automatically added to MapServer.
Add MapServer to the standard ERDDAP distribution (so it is all automated).

Does this makes sense? It is possible? You'll need to research and ask around: Which is the best program to link to (most wide

[2021-02-03 10:42] DavidBerryNOC commented on #37
I'm not sure whether this is the right place but were looking to use ERDDAP and publishing to a message queue (using AMQP or MQTT) to publish NetCDF formatted data in (near) real time to the WMO Information System (WIS2.0), more information here:

https://github.com/wmo-im/WIS/issues/1

It would be great to see this added to ERDDAP without having to use a middle layer. There have been some discuss

[2021-02-03 16:38] BobSimons commented on #37
@DavidBerryNOC, this is a good place for information like that. Thanks.
It will be important to design the ERDDAP MQTT support to match the needs of users.

[2021-02-03 17:44] BobSimons opened #43 "Add new output fileType .covjson"
Add a new output file type to ERDDAP: Coverage JSON (.covjson)
See [https://covjson.org/](https://covjson.org/)

Talk with the covjson people to see if the project is still active and if they think it is worth the effort.

Skills required: Java programming.

Difficulty: Relatively easy. ERDDAP datasets have a cdm_data_type (featureType) attribute which aligns with the Coverage JSON types. So you j

[2021-02-03 19:06] BobSimons opened #44 "New ColorBar Converter"
ERDDAP has a group of Converters which do useful things (usually conversions) related to ERDDAP. See
[https://coastwatch.pfeg.noaa.gov/erddap/convert/index.html](https://coastwatch.pfeg.noaa.gov/erddap/convert/index.html)
It would be nice to add a ColorBar converter which takes a color bar specification (e.g., palette=Rainbow, Range=1 to 10000, Scale=log, NSections=4, Continuity=Continuous) and th

[2021-02-03 19:20] BobSimons opened #45 "Add a NMFS BagIt option to ArchiveADataset"
ERDDAP comes with a tool called ArchiveADataset which extracts a subset of a dataset (perhaps in multiple files) and packages the results in a zip or tgz file in a format suitable for submission to NOAA's NCEI archive (or for other purposes).
Unfortunately, NCEI hasn't standardized the format they want. So different groups inside and outside of NCEI have requested different formats and I have adde

[2021-02-03 19:55] abkfenris commented on #43
A possibly related output would be a [STAC](https://stacspec.org/core.html) catalog interface.

[2021-02-03 20:58] BobSimons commented on #43
I'll note that the covjson specification is at 0.2(draft) and hasn't been updated since 2016, when I think it was originally posted.
[https://covjson.org/spec/](https://covjson.org/spec/)

Also, the contact email gets sent to Reichert (that bounced because he's gone) and Blower (it didn't bounce, but I think he has moved on).  They are also listed on the specification as the authors of the specifi

[2021-02-03 21:59] mwengren commented on #43
I don't know a whole lot about CovJSON, but I did hear mention of it at various times during the last OGC meeting I listened to in Dec.

STAC would be an interesting addition.  No idea how feasible it is.  It does have a lot of attention these days, including an [ESIP Winter Meeting session](https://2021esipwintermeeting.sched.com/event/g49x/advancements-in-stac-and-remote-sensing-applications-in-

[2021-02-03 23:37] BobSimons opened #46 "Make "A Personal Hyperwall""
Make a customizable web page that displays nColumns by nRows of boxes, each box gets a different ERDDAP map (or graph?), each of which can refer to some common values (e.g., latitude min/max, longitude min/max, time value) so that when any of the common values are changed, the maps and graphs are redrawn.
For example, imagine 6 (2 x 3) maps with sea surface temperature, chlorophyll, salinity, wind

[2021-02-04 00:35] BobSimons opened #47 "Fancy (e.g., animated) graphics"
ERDDAP's graphing capabilities are simple, plain, and functional (so say I) or stodgy (so say lots of others).
ERDDAP current graphing capabilities were designed so that
* The load on the server was minimal
* Each graph can be requested with one simple RESTful URL.
* The system could be made with the technology and a library available in 2007 (very limited).

ERDDAP's current graphics system isn't

[2021-02-04 04:12] GOusignu commented on #46
Hey! I would like to work on this. I am a beginner, but I'm willing to learn on the way

[2021-02-04 04:15] GOusignu commented on #38
Hey! I'm a beginner to open source, and I would like to work on this

[2021-02-04 04:47] GOusignu commented on #39
Could I work on this?

[2021-02-04 16:39] BobSimons commented on #46
Thanks very much for your interest in working on one of these projects.
You offered to help with 3 projects. How about you pick one of them, let me
know which, and focus on it first?
I'll point out that the Hyperwall project is mostly JavaScript, while the
others are mostly Java. Your choice.

Best wishes.

On Wed, Feb 3, 2021 at 8:12 PM GOusignu <notifications@github.com> wrote:

[2021-02-04 16:54] BobSimons commented on #43
Jon Blower (one of the CovJSON authors) replied to my email to him and Maik Reichert. Basically,
* Jon is still at U. Reading, but Maik Reichert has moved on.
* Although the CovJSON web page hasn't been recently updated, the project is still alive.
* There is talk of making CovJSON an OGC Community Standard
* The CovJSON specification is considered stable and they will move to finalization.
* CovJ

[2021-02-04 22:11] BobSimons commented on #47
Rich Signell has in the past suggested TerriaJS as a tool to make interesting/animated graphics. See
[https://terria.io/](https://terria.io/)

[2021-02-04 22:33] BobSimons opened #48 "Improve how emails are sent"
Currently, if ERDDAP needs to send an email, it (in the current thread) connects to the mail server, sends the email, and disconnects. This is inefficient (too much time repeatedly connecting to the server) and slow (it slows down the current thread). Often (e.g., for subscriptions) multiple emails are sent out in a short period of time.

At the very least, it would be good to have an email queue

[2021-02-05 10:13] GOusignu commented on #46
I'll focus on this one

[2021-02-05 10:23] GOusignu commented on #46
seems interesting, so its going to act as a client which fetches data and displays it in a nice way?

[2021-02-05 10:24] GOusignu commented on #46
But in this, its sort of a "hyperwall" which displays multiple graphs at once?

[2021-02-05 13:12] GOusignu commented on #46
So it displays graphs of various properties , all from the same location and same time? (silly doubt, but I'm trying to clarify )

[2021-02-05 17:06] BobSimons opened #49 "General Optimization with a Profiler"
I always try to write code so that it runs efficiently, but there is always lots of room for improvement if someone can put more time into it.  So this project involves two steps: 1) find slow spots in the code 2) rewrite those sections of code that you think you can make faster.

To find slow sections of code: 10+ years ago, I used a profiler to identify slow sections of code. That was very produ

[2021-02-05 19:19] BobSimons commented on #46
Yes (to your first two questions above).
Kind of yes to the third: yes, the same location and time (in the simplest form) but better if a given graph can be sync'd to the others or different.

It may help to read these instructions to "Embed a Graph in a Web Page":
[https://coastwatch.pfeg.noaa.gov/erddap/images/embed.html](https://coastwatch.pfeg.noaa.gov/erddap/images/embed.html)
But for the hyp

[2021-02-06 03:33] GOusignu commented on #46
Understood.

[2021-02-08 19:51] BobSimons opened #50 "Translate ERDDAP user interface into other languages"
Most of the text for the ERDDAP user interface (other than a few static .html documents) is in messages.xml.
Long ago, in my previous job, I was able to use commercial machine translation software to make translations to French, Spanish, German, Italian, and Dutch.
The translation was crude but usable.  For a couple of the languages, a human hand edited the translations. That was great.

Now there

[2021-02-08 23:28] BobSimons opened #51 "Update "Convert: Keywords""
[This has been assigned to Harry Singh of ONC.]

ERDDAP has a Keywords converter which converts a CF Standard Name to/from a GCMD Science Keyword.
Unfortunately, the conversion file was made a long time based on CF Standard Names and GCMD keywords which are now out-of-date.
The project here is to update the conversion file (WEB-INF/classes/gov/noaa/pfel/erddap/util/CfToGcmd.txt).

Skills required:

[2021-02-09 16:55] mwengren commented on #42
I am familiar with GeoServer, so I'll add a few notes/links that might get someone started if they choose that option.  In some ways, GeoServer may be a more natural fit, as it's Java-based, but perhaps someone more familiar with MapServer could argue otherwise.

GeoServer leverages GeoTools for geospatial data access (and other functionality).  Relevant to ERDDAP are probably:

- gt-coverage: for

[2021-02-11 16:00] GOusignu commented on #46
I feel the learning curve was too steep for me. I'll take some time off to improve my all round knowledge. Thank you very much for answering my questions!

[2021-02-13 03:45] GAyan17 commented on #44
Hello, This issue looks good to me can I work on it? Though I'm still a begginner in terms of JAVA Development but wanting to learn as I go, would be a great help if you guide me in some way to how to start working for this issue.

[2021-02-17 22:29] BobSimons commented on #44
[I'm sorry for being so slow to answer (long weekend and mini emergency at work yesterday).]

Excellent! Yes, you can work on it. Here are suggested steps:

1. Read [the Programmer's Guide](https://coastwatch.pfeg.noaa.gov/erddap/download/setup.html#programmersGuide)
2.  Use ERDDAP a little so you understand what it is and how it works. [https://coastwatch.pfeg.noaa.gov/erddap/index.html](https://

[2021-02-19 22:16] GAyan17 commented on #44
Thank you @BobSimons  I'll surely follow these steps.

[2021-02-24 13:51] alko-k commented on #51
Hi @BobSimons ,

Tom, (https://github.com/thogar-computer) pointed us to this issue with GCMD and standard_name mappings.
In NVS we publish the cf_standard_names under the P07 vocabulary: http://vocab.nerc.ac.uk/collection/P07/current/
We also published  the GCMD keywords as http://vocab.nerc.ac.uk/collection/P64/current/ but since the GCMD community started publishing them themselved we stopped f

[2021-02-24 16:30] BobSimons commented on #51
Thanks for the information, @alko-k.  It's good to have another option.

For now, Harry Singh is working to update the mapping to the latest version of CF standard_names and GCMD Science Keywords (version 9.1).

[2021-03-12 09:38] Pratikrocks commented on #51
Hello @BobSimons @alko-k can I take this issue?

[2021-03-12 09:51] Pratikrocks commented on #51
and @BobSimons is there any platform where we can discuss about this project further...

[2021-03-12 19:18] BobSimons commented on #51
@Pratikrocks, thanks for the offer, but, as the original posting of the issue says, this project has been assigned to Harry Singh. We're not doing it (so far) through GitHub, so the issue doesn't appear to be assigned to someone, but it has.
If for some reason Harry backs out (unlikely), then we can discuss you working on it.

[2021-03-12 19:21] BobSimons commented on #51
@Pratikrocks and anyone: you can contact me via email if you want to discuss an ERDDAP issue privately: bob dot simons at noaa dot gov .

@Pritikrocks, how about picking one of the other projects?

[2021-03-12 19:24] Pratikrocks commented on #51
@BobSimons does other issues of this project (errdap) available ? I saw this link in the wiki pages

[2021-03-12 19:57] BobSimons commented on #51
https://github.com/BobSimons/erddap/issues

Please tell me the URL where you saw this issue originally.

On Fri, Mar 12, 2021 at 11:25 AM Pratik Dey ***@***.***>
wrote:

[2021-03-12 20:05] Pratikrocks commented on #51
@BobSimons from the ideas page
https://github.com/ioos/gsoc/blob/master/2021/ideas-list.md

[2021-03-22 21:52] Q1Zeng commented on #50
Hi, My name is Qi Zeng, a math major sophomore from Georgia Institute of Technology, on track to pursue a second major in CS. I'm interested in doing the GSoC to learn something outside my school and make some contribution to an open source community.
I'm proficient on English (6 years in the U.S.) and Chinese (mother tongue), and I have experience with Java. So I think I can potentially be a good

[2021-03-23 16:15] BobSimons commented on #50
@Q1Zeng,
Thanks for your interest in working on this project.
My understanding of GSoC (from [https://summerofcode.withgoogle.com/how-it-works/#timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline) )
is that students like you submit applications until Apr 13.
Then we review and select the best student proposals by May 17.
If you are accepted, we "bond" from May 17 - June 7 and actu

[2021-03-29 16:22] alyssachne commented on #48
Hi,

I'm a second year computer science student from University of Toronto and I had used Java to write a meeting project. I'm very interested in this topic and I want to work on it. Would you mind giving me a chance to work on it?
(Also I'm currently in my final period, I will work on this start on around April 20th.)

Wish everything goes well for you :)

[2021-03-29 17:05] BobSimons commented on #48
Thanks for your interest in working on this project.

If you want to work on it on your own (not as part of Google Summer of Code), then let me know, I'll assign the project to you, and you can work on it in April.

If you want to be part of GSoC:
My understanding of GSoC (from [https://summerofcode.withgoogle.com/how-it-works/#timeline](https://summerofcode.withgoogle.com/how-it-works/#timeline)

[2021-04-04 05:29] jarvis-001 commented on #50
Hi @BobSimons I am Ghanshyam Singh Moyal , sophomore at Indian Institute of Technology, Roorkee . I have a good experience with java . About languages I am proficient in English and Hindi (my mother tongue) . I would love to work on this project .

[2021-04-05 16:08] BobSimons commented on #50
@jarvis-001, thanks for your interest in working on this issue,
Unfortunately, it is tentatively assigned to @Q1Zeng.
Please consider working on one of the other ERDDAP issues, especially those marked with GSoC. See
[https://github.com/BobSimons/erddap/labels/GSoC](https://github.com/BobSimons/erddap/labels/GSoC)
Best wishes.

[2021-04-08 15:02] jarvis-001 commented on #45
Hi @BobSimons I have read a lot about ERDDAP and technical stuff related to oceanographic data like  various data formats used to store data like HDF5(commonly used and oldest) , Zarr (multi processing possible means faster data retrieval and processing ), n5 etc, OPeNDAP ( framework that simplifies all aspects of scientific data networking and makes local data accessible to remote locations ) etc

[2021-04-08 16:51] BobSimons commented on #45
Excellent! Thanks for your interest in doing this.

1) If you want to do this as part of Google Summer of Code (GSoC), then we'll follow a slightly different route versus if you want to just do it, now, on your own. Please let me know if you want to do this as part of GSoC.

2) In either case, please
  * Install ERDDAP on your PC. It needs to have at least one active dataset (in addition to the sp

[2021-04-10 15:30] jarvis-001 commented on #45
@BobSimons I did try multiple times downloading ERDDAP file but I think it is hosted on physical servers because of which connection is constantly breaking .
What I believe is that the server on which erddap.war is hosted is using a single connection instead of chunks .
Even when download usind download manager while downloading it is forming single connection rather than downloding in chunks due

[2021-04-10 16:22] BobSimons commented on #45
I assume you are referring to the erddap.war download from
[https://github.com/BobSimons/erddap/releases/download/v2.11/erddap.war](https://github.com/BobSimons/erddap/releases/download/v2.11/erddap.war)
Yes, it is a big file.

I switched to distributing it via GitHub because that was faster and more reliable. I don't have an alternative.

Can you go to a place with more a reliable internet connec

[2021-04-10 19:32] jarvis-001 commented on #45
Ohh thanks @BobSimons now it's done and am working on setting erddap in my system

[2021-04-12 08:06] jarvis-001 commented on #45
Hi Bob am getting an issue installing it with windows am not able to run chown command on windows and commands on windows and on linux I can't access the file
So what should I do now ?
Like now I am installing wsl on my windows but it will take some time

[2021-04-12 15:40] BobSimons commented on #45
Please see my comments below...

On Mon, Apr 12, 2021 at 1:07 AM jarvis-001 ***@***.***> wrote:

I didn't know which operating system you had.
chown is for Linux.  For windows, permissions problems are usually solved
by right clicking on files and working with menus. I don't know the
specific problem so I can give a specific solution.

Do you have Linux or windows? or both on different computers?

[2021-04-12 16:13] jarvis-001 commented on #45
Ohh ok Ben I'll try again

[2021-04-13 13:08] jarvis-001 commented on #45
Hi Bob I have followed all the steps and ERDDAP is around set in my device .
So may I write my proposal accordingly ? And since this issue is a smaller one I was thinking of working on any other issue too which is similar to this one. And I will set the environment on my device and all the pre requisites before the community bonding period starts (maybe by 24 April ) .

[2021-04-13 13:36] jarvis-001 commented on #45
Basically I was thinking of contributing to issue #48 along with this .

[2021-04-13 14:27] BobSimons commented on #45
Yes, Please write the GSoC proposal. I think the deadline is today (April 13).
Yes, adding another small issue in case you have time is a good idea. #48 is appropriate.

[2021-04-13 20:36] jarvis-001 commented on #45
Hi Bob
Thank you so much for your constant support and help during the entire time .
It made thongs a lot easier to understand ...

[2021-04-16 21:59] jarvis-001 commented on #45
Hi Bob,
Actually I will be having my end term examinations during community bonding
period. So is it possible that we do that work before then? If not possible
than no problem

On Tue, 13 Apr 2021, 19:57 Bob Simons, ***@***.***> wrote:

[2021-04-16 23:04] BobSimons commented on #45
I will keep that in mind.
We (IOOS) still have to select the projects that will proceed.
We don't yet know how many slots/internships we get.

On Fri, Apr 16, 2021 at 2:59 PM jarvis-001 ***@***.***> wrote:

[2021-04-17 07:13] jarvis-001 commented on #45
Ohh sure Bob

On Sat, 17 Apr 2021, 04:34 Bob Simons, ***@***.***> wrote:

[2021-05-14 14:30] BobSimons opened #52 "Investigate Java To Native Compilers"
Investigate Java to native compilers like [https://www.graalvm.org/](https://www.graalvm.org/)

[2021-05-25 06:20] marc-portier opened #53 "allow environment variables to alter the setup"
Currently setup is driven through setup.xml (read through ResourceBundle2 from cohort) which in turn builds up the EDStatic making those settings available throughout the code.

In modern microservice and container setups (e.g. axiom/docker-erddap, specially in combination with nginx or apache reverse proxy forwarding) however a new separation of concerns is pushing up. Who creates what parts of t

[2021-05-25 15:43] BobSimons commented on #53
Thank you for your well-thought-out suggestion.

I think of setup.xml as an interface. The admin can use any method they want to make changes to setup.xml (e.g., by hand, by script) and can even specify where setup.xml is located (see
[https://coastwatch.pfeg.noaa.gov/erddap/download/setup.html#erddapContentDirectory](https://coastwatch.pfeg.noaa.gov/erddap/download/setup.html#erddapContentDirecto

[2021-05-25 16:04] mwengren commented on #53
@BobSimons I ran into this issue when trying to run ERDDAP instances on Kubernetes a few years ago.

IIRC, I had to basically script a find/replace process to modify setup.xml on ERDDAP pod deployment using some dedicated Kubernetes pods to execute changes to setup.xml parameters, which got a bit tedious.  There may have been better approaches to that than what I did at the time, but this would ma

[2021-05-25 21:00] abkfenris commented on #53
We're running a few ERDDAP instances in Kubernetes and allowing `setup.xml` configuration with environment variables would be fantastic.

I believe @Dylan-Pugh has basically been keeping two different ` setup.xml`s around. One gets baked into the image for deployment, and then gets mounted over for local testing with a different `baseUrl`. It would be much easier to manage with being able to overr

[2021-05-26 16:28] BobSimons commented on #53
@abkfenris and @mwengren, thanks very much for that information.
@marc-portier, thanks very much for the original request/suggestion and follow-up information.

Okay. I have made it so that any parameter in setup.xml can also be specified (with higher priority) via an environment variable named ERDDAP_parameterName . This feature will be in the next ERDDAP release.

[2021-05-28 14:49] #53 closed

[2021-06-11 14:10] BobSimons commented on #41
This is done and will be in the next release of ERDDAP.

[2021-06-11 14:10] #41 closed

[2021-06-11 14:15] BobSimons commented on #44
@GAyan17, are you still planning to work on this?

[2021-06-18 06:57] GAyan17 commented on #44
Yes, I am sorry I was busy with some other work so didn't get the chance to dive deeper into it, but I will surely try to work on it in this summer.

[2021-07-07 16:12] BobSimons opened #54 "Add server side function wkt("polygon"

[2021-07-07 16:13] BobSimons opened #55 "Add server side function wkt("polygon") to allow subsetting by WKT polygon"
Add new server side function like:  &wkt("a string with the WKT polygon")  ERDDAP could handle this by converting the polygon into lat and lon constraints, getting that data subset, then properly subsetting to the polygon, then return the results to the user. Thanks to Matthew Biddle.

[2021-07-08 17:14] #54 closed

[2021-07-08 17:15] BobSimons commented on #54
This was created accidentally. See the real issue with the longer name.

[2021-07-08 17:18] BobSimons commented on #53
@marc-portier The just-released v2.14 of ERDDAP has this feature. Please email me (bob.simons at noaa.gov) so we can talk offline.

[2021-08-23 14:06] #20 closed

[2021-08-23 14:06] jibeizhao commented on #20
Fixed in the newer version

[2021-08-23 14:23] BobSimons commented on #20
Good. Thanks for confirming this.

On Mon, Aug 23, 2021 at 10:06 AM Jibei Zhao ***@***.***>
wrote:

[2021-08-31 20:09] BobSimons opened #58 "Add geotiff writer with raw data values"
Add a geotiff writer with [https://commons.apache.org/proper/commons-imaging/](https://commons.apache.org/proper/commons-imaging/)(?) that writes raw data values.

[2021-09-10 17:47] BobSimons commented on #55
Rather than just add a wkt(polygon feature, it may be much better to add support for the features of the new
[OGC EDR API](https://github.com/opengeospatial/ogcapi-environmental-data-retrieval) . That could be relatively easy given that ERDDAP is already set up to do all the background work (getting data from data sources).

[2021-09-10 17:48] BobSimons opened #60 "Use Docker for ERDDAP distributions"
Investigate using Docker for ERDDAP distributions.
In particular, this may make it much easier to bundle other software with ERDDAP, e.g., ncWMS, or MapServer.

[2021-09-10 17:52] BobSimons commented on #42
An alternative or additional task is to bundle ncWMS with ERDDAP. It is widely used, supports a lot of projections, and can get data from OPeNDAP sources, including ERDDAP. See [Marco Alba's work on this](https://groups.google.com/g/erddap/c/5bDww9VNXig/m/dD_jifdoBwAJ)

[2021-09-10 18:03] 7yl4r commented on #55
That API seems to provide a good framework for single-url requests that includes WKT. The details specified in the API look very nice to me but I will be happy to get data for a given WKT regardless of the implementation.

[2021-09-10 18:11] abkfenris commented on #60
If @kwilcox ok's adapting  [axiom-data-science/docker-erddap](https://github.com/axiom-data-science/docker-erddap), then I'm willing to make a PR to add the Dockerfile, and setup Github Actions, and Packages to build and host the image.

[2021-10-18 14:45] thogar-computer opened #62 "Time issue erddap cache vs on disk."
Hiya all,
not sure if this is my misuse of a feature or a bug?

### Issue

The address https://linkedsystems.uk/erddap/tabledap/ea_sea_level_e72224_e229_390e_c509.htmlTable?&time=max(time) resulted in a error of;

[code]
https://linkedsystems.uk/erddap/tabledap/ea_sea_level_e72224_e229_390e_c509.htmlTable?&time=max(time)+0minutes gave the same error.

interestingly the address https://linkedsystem

[2021-12-01 18:51] BobSimons commented on #50
Qi (as a Google Summer of Code intern) and I worked on a translation system in the summer of 2021. The resulting system was released in ERDDAP v2.15. Thank you, Qi!

[2021-12-01 18:51] #50 closed

[2022-01-02 23:57] shane-axiom opened #63 "Publish 2.16 release"
There doesn't seem to be a [release published](https://github.com/BobSimons/erddap/releases) with the war and content zip for [v2.16](https://github.com/BobSimons/erddap/tree/v2.16). Can one be created? Thank you!

[2022-01-03 16:03] BobSimons commented on #63
It has always been my standard procedure to install every new version at [https://coastwatch.pfeg.noaa.gov/erddap/index.html](https://coastwatch.pfeg.noaa.gov/erddap/index.html) to make sure it performs well for a week or so before making it available to others.  Since I started using Git(Hub), I also saved the release to Git(Hub) when installing it on that server. With the 2.16 release, that "wee

[2022-01-03 16:03] #63 closed

[2022-01-04 02:24] shane-axiom commented on #63
Sure, thanks for the explanation.

[2022-01-16 23:37] ThomasThelen opened #64 "BagIt Download"
Hi,

I was browsing though the source code and ran across a BagIt download implementation. I'm not totally sure-but is there an extra write of the data to the filesystem? I saw [this](https://github.com/BobSimons/erddap/blob/master/WEB-INF/classes/gov/noaa/pfel/erddap/ArchiveADataset.java#L742) comment. If so, I solved this problem in DataONE's data server by creating [SpeedBagIt](https://github.c

[2022-01-18 14:55] BobSimons commented on #64
Thanks for the offer, but...
My understanding is that your system requires that the files to be included in the BagIt file already exist. You thus make the BagIt file and serve it to the user on-the-fly.
The situation in ERDDAP is different. The source files for the BagIt file don't already exist. Yes, you or I could make it so that the needed files are created and added to the BagIt file directly

[2022-01-24 16:15] joe-smithe-glos commented on #62
@thogar-computer did you figure out what was causing the issue here? Trying to see if an issue I'm having may be related (https://groups.google.com/g/erddap/c/0i7tSy9LOLE): There's a disconnect between the actual_range ERDDAP produces for the front-end and the time range of the source data, even though DasDds picks up the correct range.

Still looking into it here so I may learn more later

[2022-01-24 23:54] ChrisPJohn commented on #19
I'm planning to work on this issue. I know we chatted over email about it, but I also wanted to keep GitHub up to date. I do not have permissions to assign this to myself however.

[2022-01-27 17:49] ThomasThelen commented on #64
That's correct- it operates on InputStreams to the bytes

Totally understand that the ERDAP architecture differs in that aspect-I'll be sure to browse around the other issues :)

Cheers,

Thomas

[2022-01-27 17:49] #64 closed

[2022-02-14 13:38] BobSimons commented on #19
Chris John: Thank you for fixing this.

[2022-02-14 13:40] #62 closed, assigned to nobody

[2022-03-01 14:36] thogar-computer opened #68 "404 datasets when accessing via time=ma(time)"

[2022-03-01 14:39] #68 closed

[2022-03-01 14:41] thogar-computer commented on #68
Sorry this was raised in error

[2022-03-24 15:44] BobSimons commented on #37
Sorry. No progress. This project hasn't been assigned to anyone yet.

[2022-05-16 08:35] aded opened #78 "ERDDAP_emailSmtpPort ignored"
Hello,

when I set SMTP port through env var, the value is ignored (587, Google account):
[code]
`log.txt`:
[code]

If I set the value in `setup.xml`:
[code]
things work correctly.

Please note I deploy ERDDAP via-Docker. I opened an issue there (https://github.com/axiom-data-science/docker-erddap/issues/46), but the bug seems related to ERDDAP actually.
The variable is properly set inside the con

[2022-05-20 18:40] BobSimons commented on #78
I'm sorry for my delay in responding.

I looked in the code. I see the problem. For String parameters, ERDDAP is correctly looking for ERDDAP_paramName. But for int and boolean parameters, ERDDAP is incorrectly looking for just paramName.

So, for now as a work-around, try just setting "emailSmtpPort", not "ERDDAP_emailSmtpPort".
And after the next ERDDAP release, switch to "ERDDAP_emailSmtpPort".

[2022-05-20 18:40] #78 closed

[2022-05-20 18:45] BobSimons commented on #60
There hasn't been any progress on this, but there is new documentation for installing ERDDAP via Docker (thanks to a group at the 2022 IOOS Code Sprint): [https://ioos.github.io/erddap-gold-standard/index.html](https://ioos.github.io/erddap-gold-standard/index.html)

[2022-05-20 18:50] BobSimons commented on #40
I was unable to formally assign ChrisPJohn to this project, but he did the project (very well). Thanks, Chris!

[2022-05-20 18:50] #40 closed

[2022-05-20 18:53] BobSimons commented on #37
No progress, but there is interest from BODC in collaborating on this. That would be good because it would help ensure that the result is useful and works well.

[2022-05-20 18:54] BobSimons commented on #49
I was unable to formally assign ChrisPJohn to this project, but he did the project (very well). Thanks, Chris!

[2022-05-20 18:54] #49 closed

[2022-05-20 19:03] abkfenris commented on #60
I hadn't realized that @kwilcox had given a thumbs up to adapting the code from axiom's repo.

@BobSimons how do you go from what is in this repo to the `erddap.war` and `erddapContent.zip` assets attached to a release?

[2022-05-23 18:51] BobSimons commented on #60
I have a checklist for releases from before I used Git.
I have a small script (makeErddapWar.bat) which makes erddap.war.
erddapContent.zip is made by running some Java code
  Erddap.makeErddapContentZip(theSourceDirectory, theDestinationDirectory);

[2022-05-24 14:16] abkfenris commented on #60
Do either of those depend on resources that are outside of this repo? I couldn't find either script in the repo, just a [reference to `Erddap.makeErddapContentZip()`](https://github.com/BobSimons/erddap/blob/63526dca6016ab4944e3469f86a7d7a17ecbfc83/WEB-INF/classes/gov/noaa/pfel/coastwatch/TestAll.java#L146).

It would be really helpful to have the release checklist to work through to make sure tha

[2022-05-25 14:49] BobSimons commented on #60
Erddap.makeErddapContentZip() is a method in WEB-INF/classes/gov/noaa/pfel/erddap/Erddap.java. Thus it is already in the Git archive.

I will add the makeErddapWar.bat file to the Git archive.

[2022-06-28 20:26] abkfenris commented on #60
I've started a PR #79 to work towards building a Docker image as part of the repo using Github Actions.

Right now I've got the workflow trigger for every push to the repo. Github Actions does support triggering workflows on release creation, but that can be much harder to test (at least without making a ton of releases to test how the workflows run).

<img width="1066" alt="image" src="https://us

[2022-07-05 16:43] #60 closed

[2022-07-21 19:54] joefutrelle opened #80 "Log all significant events in a standard format"
When ERDDAP is running it doesn't appear to generate a logfile providing information about what operations it's doing and whether or not they're succeeding. I propose that it continuously generate logfiles that

1. Contain one line for each event, starting with the date and time
1. Are organized into log levels such as INFO, WARN, ERROR, DEBUG so that they can be configured at an appropriate level

[2022-07-21 20:06] BobSimons commented on #80
That's a good idea. It's a big job because there are lots of possible places to generate log messages. I may implement it in parallel with the current logging system because there are also advantages to an unstructured log (e.g., multiline messages).

If you have a suggested log format, please let me know.

[2022-07-21 20:18] joefutrelle commented on #80
I was discussing this with a sysadmin here who pointed me to RFC 5424 which is used for syslogs.

https://docs.ruckuswireless.com/fastiron/08.0.60/fastiron-08060-monitoringguide/GUID-88F338BA-B7BF-485C-B1DE-7418710452A6.html

[2022-07-21 20:32] kfiresmith commented on #80
Hello.  I'm the sysadmin who mentioned Syslog enhanced log format (RFC 5424).  Thinking about this more, I think that this is likely the job of something like Log4J or any other language-specific logging library.  Ideally the logging library would be implemented and configured to create logs in a structure that conforms to the Linux FHS and other norms.

For example, you might create a path at `/v

[2022-07-21 21:33] turnbullerin opened #81 "Translation tooltip image breaks with proxy"
Hi!

I'm setting up ERDDAP behind an nginx proxy and using the sub module to rewrite the HTML content to have the proper URLs for our host (mostly because I'm planning a federated install at some point in the future and will only have one host name, so I'm doing something like http://publichost/1/erddap --> http://erddap1:8080/erddap, http://publichost/2/erddap --> http://erddap2:8080/erddap.

One

[2022-07-22 14:12] BobSimons commented on #81
I admit that some of the text (e.g., urls) in HTML attributes are excessively encoded.

However, I used to have a method (I think it was called minimallyEncodeAsHTMLAttribute()) which encoded a few more characters than what you suggested to minimally encode text that was stored as HTML attributes. However, that is insufficient for security reasons, notably the danger or cross-site scripting (XSS).

[2022-07-22 14:32] BobSimons commented on #81
You said "it's hard to make good rewrite rules", but you didn't say what tools you have at your disposal. Since you say it's hard,
I'm guessing it isn't a programming language and uses regular expressions (regex's) instead.
I'm guessing you're trying to match the stated URL and replace it with something else, so the real problem is finding the first part of the URL.
If I'm guessing correctly, can'

[2022-07-22 17:38] BobSimons commented on #81
I found the updated link for the OWASP Cheatsheets Book:
See [https://owasp.org/www-pdf-archive/OWASP_Cheatsheets_Book.pdf](https://owasp.org/www-pdf-archive/OWASP_Cheatsheets_Book.pdf)
page 188, section 25.4, says
    Encoding Type: HTML Attribute Encoding
    Encoding Mechanism:
    Except for alphanumeric characters, escape all characters with the HTML Entity &#xHH; format,
    including spaces

[2022-07-23 23:25] shane-axiom opened #82 "Fixed Value sourceNames are not excluded from duplicate column name detection"
[Fixed Value](https://coastwatch.pfeg.noaa.gov/erddap/download/setupDatasetsXml.html#fixedValue) sourceNames are not excluded from duplicate column name detection. A dataset containing multiple columns with the same fixed value sourceName, e.g.

[code]

will result in a `com.cohort.util.SimpleException: ERROR: Invalid Table: Duplicate column names` error, e.g.

[code]

 Seems like any fixed or cal

[2022-07-23 23:26] shane-axiom commented on #82
Until fixed, a workaround is to append a JEXL comment with a unique value after the duplicate fixed value, e.g.

[code]

[2022-07-23 23:43] BobSimons commented on #82
I will fix this.

Another similar (and nicer looking) workaround is to append a different number of 0's after each sourceName
=5.0
=5.00
=5.000

[2022-07-27 16:36] BobSimons commented on #82
I will not be making this change. It turns out that the sourceNames, including =_expression_ sourceNames, really do need to be unique. It has to do with the part of the code that selects the columns that are needed in the source file to fulfill the user's request. Each sourceName has to uniquely link to a specific destinationName. So the long term solution will have to be the workaround that I sug

[2022-08-30 19:53] BobSimons commented on #48
I did this. The changes will be in ERDDAP v2.19.

[2022-08-30 19:53] #48 closed

[2022-09-19 15:25] 7yl4r commented on #55
The need for this functionality keeps coming up in my communities. Utilities are being developed to provide this functionality client-side by combining results from several ERDDAP calls.

What can I do to help move this forward? I am setting up an ERDDAP dev environment now in case I can help contribute some code.

[2022-09-19 15:36] BobSimons commented on #55
I'm just one guy and I'm maxed out. If you want to speed this up:
a) You can add a server-side function to do it. (It won't be easy because it would be the first server-side function for griddap. There is analogous code for server-side functions in tabledap. Maybe the first step is to add this function to tabledap.)  Sorry, for now, I can't offer much help. I'm maxed out.
b) You can add it by addi